# Student Activity: Tokenizing Reuters

In [1]:
from nltk.corpus import reuters
from nltk.tokenize import sent_tokenize, word_tokenize
import pandas as pd

# Code to download corpora
import nltk
nltk.download('reuters')
nltk.download('punkt')

[nltk_data] Downloading package reuters to /home/jwales/nltk_data...
[nltk_data]   Package reuters is already up-to-date!
[nltk_data] Downloading package punkt to /home/jwales/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
# Search through all categories
print(reuters.categories())

['acq', 'alum', 'barley', 'bop', 'carcass', 'castor-oil', 'cocoa', 'coconut', 'coconut-oil', 'coffee', 'copper', 'copra-cake', 'corn', 'cotton', 'cotton-oil', 'cpi', 'cpu', 'crude', 'dfl', 'dlr', 'dmk', 'earn', 'fuel', 'gas', 'gnp', 'gold', 'grain', 'groundnut', 'groundnut-oil', 'heat', 'hog', 'housing', 'income', 'instal-debt', 'interest', 'ipi', 'iron-steel', 'jet', 'jobs', 'l-cattle', 'lead', 'lei', 'lin-oil', 'livestock', 'lumber', 'meal-feed', 'money-fx', 'money-supply', 'naphtha', 'nat-gas', 'nickel', 'nkr', 'nzdlr', 'oat', 'oilseed', 'orange', 'palladium', 'palm-oil', 'palmkernel', 'pet-chem', 'platinum', 'potato', 'propane', 'rand', 'rape-oil', 'rapeseed', 'reserves', 'retail', 'rice', 'rubber', 'rye', 'ship', 'silver', 'sorghum', 'soy-meal', 'soy-oil', 'soybean', 'strategic-metal', 'sugar', 'sun-meal', 'sun-oil', 'sunseed', 'tea', 'tin', 'trade', 'veg-oil', 'wheat', 'wpi', 'yen', 'zinc']

In [3]:
# Get all fileids associated with cpi
cpi_ids = reuters.fileids(categories = 'cpi')

In [4]:
cpi_ids

['test/14891',
 'test/14918',
 'test/16103',
 'test/16108',
 'test/16118',
 'test/16134',
 'test/16158',
 'test/16226',
 'test/16241',
 'test/16268',
 'test/16415',
 'test/16740',
 'test/16783',
 'test/17442',
 'test/17970',
 'test/18001',
 'test/18987',
 'test/18993',
 'test/19000',
 'test/19005',
 'test/19079',
 'test/19081',
 'test/19513',
 'test/19625',
 'test/19653',
 'test/20247',
 'test/21130',
 'test/21532',
 'training/10260',
 'training/10261',
 'training/10377',
 'training/10384',
 'training/10385',
 'training/10553',
 'training/10567',
 'training/10724',
 'training/11197',
 'training/1147',
 'training/11894',
 'training/12080',
 'training/12464',
 'training/12771',
 'training/13007',
 'training/13172',
 'training/13333',
 'training/14770',
 'training/1550',
 'training/1681',
 'training/179',
 'training/209',
 'training/213',
 'training/2529',
 'training/2555',
 'training/3024',
 'training/3411',
 'training/3593',
 'training/4486',
 'training/4548',
 'training/4555',
 'training/4573',
 'training/4741',
 'training/5145',
 'training/5194',
 'training/5231',
 'training/5238',
 'training/5245',
 'training/5260',
 'training/5318',
 'training/5375',
 'training/5378',
 'training/5389',
 'training/5490',
 'training/5523',
 'training/5830',
 'training/6385',
 'training/6406',
 'training/6920',
 'training/6965',
 'training/6982',
 'training/7177',
 'training/7314',
 'training/7580',
 'training/7584',
 'training/7590',
 'training/7591',
 'training/8119',
 'training/8164',
 'training/8211',
 'training/8694',
 'training/8726',
 'training/8746',
 'training/9165',
 'training/929',
 'training/9294',
 'training/9433',
 'training/9824',
 'training/9829']

In [6]:
# get all raw stories
raw_stories = []
ids = []
for id in cpi_ids:
    raw_stories.append(reuters.raw(id))
    ids.append(id)

In [7]:
# sentence tokenize stories
sentence_tokenized = [sent_tokenize(i) for i in raw_stories]

In [8]:
# word tokenize all sentences
word_tokenized = []

for story in sentence_tokenized:
    # get all for each article, which is already sentence tokenized
    words = []
    for sent in story:
        words = words + word_tokenize(sent)
    # append all words for each article to the word_tokenized list
    word_tokenized.append(words)

In [10]:
#word_tokenized[0]

In [7]:
# Put everything into a DataFrame
reuters_cpi = pd.DataFrame({'raw_stories': raw_stories,
                             'sentence_tokenized': sentence_tokenized,
                             'word_tokenized': word_tokenized
                            })
reuters_cpi.index = ids

In [8]:
reuters_cpi.head()

,raw_stories,sentence_tokenized,word_tokenized
test/14891,ECONOMIC SPOTLIGHT - KUWAITI ECONOMY\n Kuwait...,[ECONOMIC SPOTLIGHT - KUWAITI ECONOMY\n Kuwai...,"[ECONOMIC, SPOTLIGHT, -, KUWAITI, ECONOMY, Kuw..."
test/14918,INDONESIAN INFLATION RATE 8.8 PCT IN 1986/87\n...,[INDONESIAN INFLATION RATE 8.8 PCT IN 1986/87\...,"[INDONESIAN, INFLATION, RATE, 8.8, PCT, IN, 19..."
test/16103,HUNGARY RAISES PRICES IN EFFORT TO CURB DEFICI...,[HUNGARY RAISES PRICES IN EFFORT TO CURB DEFIC...,"[HUNGARY, RAISES, PRICES, IN, EFFORT, TO, CURB..."
test/16108,"AUSTRALIAN GOVERNMENT MUST CUT SPENDING, ANZ S...","[AUSTRALIAN GOVERNMENT MUST CUT SPENDING, ANZ ...","[AUSTRALIAN, GOVERNMENT, MUST, CUT, SPENDING, ..."
test/16118,"YUGOSLAV ECONOMY WORSENED IN 1986, BANK DATA S...","[YUGOSLAV ECONOMY WORSENED IN 1986, BANK DATA ...","[YUGOSLAV, ECONOMY, WORSENED, IN, 1986, ,, BAN..."